<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>iMeUsWe</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.imeuswe.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.6</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.373861975505-l92buvurl18tbjisref2uc3589kigook</string>
				<string>fb835202471373097</string>
				<string>imeuswe</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CleverTapAccountID</key>
	<string>886-4Z5-RR7Z</string>
	<key>CleverTapToken</key>
	<string>514-6bb</string>
	<key>FacebookAppID</key>
	<string>835202471373097</string>
	<key>FacebookClientToken</key>
	<string>3985318cc3d6fad1b1c4961bc251fff7</string>
	<key>FacebookDisplayName</key>
	<string>imeuswe</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8322237666615794~5428041097</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>vnd.youtube</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>imeuswe</string>
		<string>tez</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>credpay</string>
		<string>mobikwik</string>
		<string>freecharge</string>
		<string>in.fampay.app</string>
		<string>bhim</string>
		<string>amazonpay</string>
		<string>navi</string>
		<string>kiwi</string>
		<string>payzapp</string>
		<string>jupiter</string>
		<string>omnicard</string>
		<string>icici</string>
		<string>popclubapp</string>
		<string>sbiyono</string>
		<string>myjio</string>
		<string>slice-upi</string>
		<string>bobupi</string>
		<string>shriramone</string>
		<string>indusmobile</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>New Exception Domain</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Permission is needed so that you can record and post audio recordings on iMeUsWe.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app requires access to Bluetooth to connect to audio devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth access is needed to connect with wireless audio devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>Permission is needed so that you can upload media to iMeUsWe.</string>
	<key>NSDocumentDirectory</key>
	<string>App needs access to open files.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This helps the app provide you with precise search and location information</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Permission is needed so that you can record and post audio recordings on iMeUsWe.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permission is needed so that you can upload media to iMeUsWe.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permission is needed so that you can upload media to iMeUsWe.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This helps iMeUsWe show you more relevant ads.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Ionicons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>PublicSans Regular.ttf</string>
		<string>PublicSans Black.ttf</string>
		<string>PublicSans Bold.ttf</string>
		<string>PublicSans LightItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
